@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: auto;
    line-height: 1.5;
}
.conteudo{
    padding: 20px;
    margin-left: 20px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 600;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
}
.logo{
    margin-top: 5%;
}

.rds{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 60%;
    
}
.container{
    display: flex;
    padding: 20px;
    margin-top: 5%;
}

button{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 50px;
    box-shadow: 3px 3px 10px black;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: hsl(257, 40%, 49%);
}

button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

ion-icon{
    font-size: 32px;
    padding: 8px;
    margin-top: 10px;
    background-color: transparent;
    border: solid white;
    border-radius: 50%;
    color: white;
    
}

ion-icon:hover{
    background-color: hsl(300, 69%, 71%);

}

a{
    padding: 10px;
}

@media screen and (max-width:800px)
{
    body{
        max-width: 600px;
        margin: auto;
    }
    .container{
        display: block;
        margin: 20px;
    }
    .rds{
        margin-left: 30%;
        margin-top: 5%;
    }
    button{
        margin-left: 25%;
        padding: 10px 80px;

    }
    a{
        padding: 20px;
    }
    ion-icon{
        font-size: 24px;
        padding: 8px;
        margin-top: 10px;
        
    }
   
}

