@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --white: #ffffff;
    --Red: #ff7a7a;
    --Green: #38cc8c;
    --Blue: #6055a5;
    --Dark-Blue: #3e3c49;
    --Grayish-Blue: #b9b6d3;
    --font: 'poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    background: url(/images/bg-intro-desktop.png);
    background-position: center center;
    background-size: cover;
    background-color: var(--Red);
    color: var(--white);
    max-width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: 1.6rem;
}

.container{
    max-width: 100%;
    width: 100rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.box-text{
    max-width: 100%;
    width: 50rem;
}

.box-text > .title{
    font-size: 5rem;
    margin-bottom: 20px;
}

.box-text > p {
    font-size: 1.6rem;
    font-weight: 400;
}

@media(max-width: 1000px) {

    .container{
        width: 100%;
        padding: 2rem;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .box-text{
        max-width: 100%;
        width: 50rem;
        text-align: center;
        margin-bottom: 30px;
    }

}

@media(max-width: 600px) {

    .box-text{
        width: 100%;
    }

    .box-text > .title{
        font-size: 4rem;
        margin-bottom: 20px;
    }

}

/**********************************************/

.box-form{
    max-width: 100%;
    width: 45rem;
}

.form-title{
    background-color: var(--Blue);
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 8px;
}

.box-form > form{
    background-color: var(--white);
    max-width: 100%;
    padding: 3rem;
    border-radius: 8px;
}

.form-control{
    margin-bottom: 25px;
    position: relative;
}

.form-control > input{
    width: 100%;
    padding: 1rem 2rem;
    outline: none;
    border-radius: 5px;
    border: 1.8px solid var(--Grayish-Blue);
    font-family: inherit;
}

.form-control > input::placeholder{
    font-family: inherit;
    font-weight: 500;
    color: var(--Grayish-Blue);
}

form > .btn-submit{
    background-color: var(--Green);
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 1.2rem;
    outline: none;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid rgb(50, 168, 117);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

form > .btn-submit:hover{
    opacity: .8;
}

form > p{
    opacity: .8;
    text-align: center;
    font-size: 1.1rem;
    color: var(--Grayish-Blue);
}

.form > p > a{
    color: var(--Blue);
    font-weight: 600;
}

form > p > a:hover{
    text-decoration: underline;
}

.success input{
    border-color: var(--Green);
}

.error input{
    border-color: var(--Red);
}

.error input::placeholder{
    color: var(--Red);
}

.success .fa-check-circle{
    visibility: visible;
    color: var(--Green);
}

.error .fa-exclamation-circle{
    visibility: visible;
    color: var(--Red);
}

.fa-question-circle{
    position: relative;
    z-index: 99999999;
}

.form-control > i{
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    right: 0;
}

.error small{
    visibility: visible;
    color: var(--Red);
}

.password-rules{
    display: none;
    background-color: var(--Dark-Blue);
    color: var(--white);
    padding: 1rem;
    font-size: 1.4rem;
    position: absolute;
    top: -75px;
    z-index: 999;
    border-radius: 5px;
}

.password-rules::before{
    content: '';
    border-top: 13px solid var(--Dark-Blue);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    bottom: -25px;
    left: 15px;
}

.show-modal{
    display: block;
}

@media(max-width: 1000px) {

    .box-form{
        width: 50rem;
    }

}

@media(max-width: 600px) {

    .box-form{
        width: 100%;
    }

}

/************************************************/

.modal-success{
    background-color: #00000070;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    padding: 2rem;
}

.modal-check{
    background-color: #fff;
    color: var(--Dark-Blue);
    z-index: 99999999999;
    max-width: 100%;
    width: 37rem;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    transition: all .8s ease-in;
}

.modal-check > i{
    color:var(--Green);
    font-size: 7rem;
    margin-bottom: 20px;
}

@media(max-width: 450px){

    .modal-check{
        width: 35rem;
        padding: 3rem;
    }
    
    .modal-check > i{
        font-size: 5rem;
    }

    .modal-check > p{
        font-size: 1.6rem;
    }

}