@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

:root{
    --main-color: #54E6AF;
    --text-color: #FFFFFF;
    --text-dark: #C2CBE5;
    --background: #121725;
    --dark-grey: #2C344B;
    --light-grey: #5A668A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'chivo', sans-serif;
    font-size: 1.6rem;
}

img{
    display: block;
    max-width: 100%;
}

nav{
    padding: 3rem 10rem;
}

.logo{
    display: none;
}

.container{
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
}

.box-left{
    background-color: var(--background);
    max-width: 100%;
    width: 60rem;
    padding: 50px;
    position: absolute;
    transform: translateY(65%);
    z-index: 10;
}

h1{
    margin-bottom: 30px;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}

h1 > span{
    color: var(--main-color);
}

p{
    margin-bottom: 20px;
    color: var(--text-dark);
    width: 40rem;
    line-height: 2.5rem;
}

#email{
    background-color: var(--dark-grey);
    font-family: 'chivo', sans-serif;
    font-size: 1.4rem;
    width: 40rem;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    padding: 1.5rem 2rem;
    outline: none;
}

::placeholder{
    color: var(--text-dark);
    opacity: .5;
}

button{
    background-color: var(--main-color);
    color: var(--background);
    font-weight: 700;
    font-size: 1.3rem;
    width: 15rem;
    margin-left: -160px;
    border: none;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background-color: var(--light-grey);
    color: var(--text-color);
}

small{
    display: none;
    width: 100%;
    margin: 0 20px;
    font-size: 1.4rem;
    color: #ff0000;
    opacity: .9;
}

.valid{
    display: none;
    width: 100%;
    margin: 0 20px;
    font-size: 1.4rem;
    color: rgb(9, 185, 9);
    opacity: .9;
}

.box-icons{
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.box-icons > img{
    width: 11rem;
    padding-right: 20px;
}

.box-right{
    padding-bottom: 10rem;
    position: absolute;
    top: 130px;
    right: 0;
}

.box-right img{
    width: 80rem;
}

@media (max-width: 1160px){

    .box-left{
        transform: translateY(80%);
    }

    .box-right img{
        width: 150rem;
    }

}

@media (max-width: 860px){

    nav{
        display: none;
    }

    .box-right img{
        display: none;
    }

    body{
        background-image: url(assets/mobile/image-host.jpg);
        background-repeat: no-repeat;
        background-size: 115%;
        background-position: center top;
    }

    .logo{
        display: block;
        margin: 0 auto;
        padding: 30px 0;
    }

    .box-left{
        margin: 0 auto;
        background-color: var(--background);
        opacity: .92;
        max-width: 100%;
        width: 100%;
        min-height: 100%;
        padding: 50px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(0%);
        z-index: 10;
    }

    h1{
        font-size: 3rem;
    }

    p{
        margin: 0 auto;
        max-width: 100%;
        width: 40rem;
        padding-bottom: 30px;
    }

    .valid, small{
        margin: 0 auto;
    }

    .box-icons{
        order: 2;
        justify-content: center;
    }

}

@media (max-width: 520px){

    #email{
        max-width: 100%;
        width: 35rem;
        margin-bottom: 0;
    }
    
    button{
        max-width: 100%;
        width: 35rem;
        margin-top: 15px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .box-icons{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .box-icons > img{
        width: 13rem;
        padding: 20px;
    }
}


