@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;900&display=swap');

:root{
    --green: #2ecc71;
    --red: #e74c3c;
    --Bright-Red: #f25f3a;
    --Dark-Blue: #242d52;
    --Dark-Grayish-Blue: #9095a7;
    --Very-Dark-Blue: #1d1e25;
    --Very-Pale-Red: #ffefeb;
    --Vary-Light-Gray: #fafafa;
    --font: 'Be Vietnam Pro', sans-serif;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font);
    font-size: 1.6rem;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    object-fit: cover;
}

.main-button{
    background-color: var(--Bright-Red);
    color: #fff;
    font-family: inherit;
    padding: 1.2rem 3rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px #f25f3a28;
}

.subtitle{
    color: var(--Dark-Blue);
    font-size: 3rem;
}

.btn-close, .btn-menu{
    display: none;
}

main{
    width: 100vw;
}

.logo-menu{
    display: none;
}

.container{
    margin: 0 auto;
    max-width: 100%;
    width: 1440px;
    padding: 0 10rem;
}

@media(max-width: 1200px) {

    .container{
        margin: 0 auto;
        max-width: 100%;
        width: 1440px;
        padding: 0 5rem;
    }

}

@media(max-width: 600px) {

    .container{
        padding: 0 2rem;
    }

}

/**************************************************/

header{
    margin: 0 auto;
    max-width: 100%;
    width: 1440px;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: top -40px right -50px;
    background-size: 570px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
}

nav > a{
    margin-left: 0;
}

nav > button{
    margin-right: 0;
}

.nav-menu > ul{
    display: flex;
}

.nav-menu > ul > li{
    color: var(--Dark-Blue);
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease;
    margin: 0 2rem;
}

.nav-menu > ul > li:hover{
    color: var(--Bright-Red);
}

.header-btn:hover{
    opacity: .8;
}

.header-c{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-header_left{
    width: 50%;
}

.box-left_txt{
    margin-left: 0;
    width: 80%;
}

.box-left_txt > h1{
    color: var(--Dark-Blue);
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.box-left_txt > p{
    margin-left: 0;
    width: 80%;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 40px;
    line-height: 25px;
}

.box-header_right{
    width: 50%;
}

@media(max-width: 1080px) {

    header{
        background-size: 450px;
    }

    .nav-btn{
        display: none !important;
    }

    .nav-menu{
        margin-right: 0;
    }

    .box-header_left{
        width: 60%;
    }

    .box-left_txt{
        margin-left: 0;
        width: 95%;
    }

    .box-header_right{
        width: 40%;
    }

}

@media(max-width: 950px) {

    .logo-menu{
        display: block;
        margin-left: 0;
        padding-top: 3rem;
    }
    
    header{
        background-position: top -20px right -50px;
        background-size: 450px;
    }

    .btn-menu{
        display: block;
        margin-right: 0;
        cursor: pointer;
    }

    .btn-close{
        display: block;
        margin-bottom: 50px;
        margin-right: 0;
        padding: 2rem;
        cursor: pointer;
    }

    .header-c{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .nav-menu{
        display: block;
        width: 55%;
        min-height: 100%;
        background-color: var(--Bright-Red);
        padding: 2rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
        opacity: .5;
        transform: translateX(-200%);
        transition: .5s ease-in-out;
        background-image: url(/images/bg-tablet-pattern-menu.svg);
        background-position: bottom -100px left -300px;
        background-size: 500px;
        background-repeat: no-repeat;
    }

    .nav-menu--active{
        opacity: 1;
        transform: translateX(0);
    }

    .nav-menu > ul{
        display: block;
        padding-top: 7rem;
    }
    
    .nav-menu > ul > li{
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 3.5rem 0;
    }

    .nav-menu > ul > li:hover{
        color: #242d52;
    }
    
    .box-header_left{
        margin: 20px auto;
        width: 100%;
        order: 2;
        text-align: center;
    }

    .box-left_txt{
        margin-left: 0;
        width: 100%;
    }
    
    .box-left_txt > p{
        margin-left: 0;
        width: 100%;
    }
    
    .box-header_right{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        order: 1;
    }

    .box-header_right > img{
        width: 50rem;
    }

}

@media(max-width: 600px) {

    .nav-menu{
        width: 65%;
    }

    .box-left_txt > h1{
        font-size: 4rem;
    }

}

@media(max-width: 500px) {

    .box-left_txt > h1{
        font-size: 3.5rem;
    }

}

/*************************************************************/

.about{
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: bottom -220px left -200px;
    background-size: 500px;
}

.about-c{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
}

.box-about_left{
    width: 50%;
}

.box-about_left > .box-txt{
    margin-left: 0;
    width: 80%;
}

.box-about_left > .box-txt > h2{
    margin-bottom: 20px;
}

.box-about_left > .box-txt > p{
    margin-left: 0;
    width: 350px;
    color: var(--Dark-Grayish-Blue);
    line-height: 25px;
}

.box-about_right{
    width: 50%;
}

.box-about_txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.box-about_txt > .number-bckg{
    margin-left: 0;
    width: 60px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: var(--Bright-Red);
    padding: .5rem 0;
    border-radius: 50px;
}

.box-about_txt > aside{
    width: 80%;
}

.box-about_txt > aside > h3{
    color: var(--Dark-Blue);
    width: 80%;
    margin-bottom: 15px;
    margin-left: 0;
    font-size: 1.7rem;
    font-weight: 700;
}

.box-about_txt > aside > p{
    color: var(--Dark-Grayish-Blue);
    margin-left: 0;
    font-size: 1.5rem;
    line-height: 25px;
}

@media(max-width: 900px) {

    .about{
        background-image: none;
    }

    .about-c{
        margin: 80px 0;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .box-about_left{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .box-about_left > .box-txt{
        margin-left: 0;
        width: 100%;
    }
    
    .box-about_left > .box-txt > h2{
        margin-bottom: 20px;
    }
    
    .box-about_left > .box-txt > p{
        margin-left: 0;
        width: 100%;
    }
    
    .box-about_right{
        width: 100%;
    }
    
    .box-about_txt{
        margin-bottom: 30px;
        display: block;
        position: relative;
    }
    
    .box-about_txt > .number-bckg{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        border-radius: 50px;
        position: absolute;
    }
    
    .box-about_txt > aside{
        width: 100%;
    }
    
    .box-about_txt > aside > h3{
        background-color: var(--Very-Pale-Red);
        font-size: 1.6rem;
        padding: 1rem 0;
        padding-left: 8rem;
        border-radius: 50px;
        width: 100%;
        margin-bottom: 15px;
    }

}

@media(max-width: 500px) {

    .box-about_txt > aside > h3{
        font-size: 1.5rem;
        padding-left: 5rem;
    }

    .box-about_txt > .number-bckg{
        font-size: 1.3rem;
        width: 40px;
        height: 40px;
        padding: 0;
        top: 0px;
    }

}

/***************************************************************/

.testimonial-title{
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.testimonial-title > i{
    display: none;
    position: absolute;
    font-size: 4rem;
    color: var(--Bright-Red);
    animation: slide 2s ease-in-out infinite;
}

@keyframes slide{
	0%,100%{
		transform:translateX(0)
	}
	50%{
		transform:translateX(-20px)
	}
}

.testimonial-c{
    max-width: 100%;
    width: 1440px;
    display: flex;
    align-items: center;
    padding-right: 2rem;
    padding-top: 10rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    overflow-x: auto;
}

.testimonial-c::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

.testimonial-c::-webkit-scrollbar-track-piece {
    background-color: var(--Very-Pale-Red);
}

.testimonial-c::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--Bright-Red);
    border-radius: 50px;
}

.box-testimonial{
    flex: none;
    width: 40%;
    min-height: 250px;
    background-color: #f2f2f2;
    margin: 0 10px;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
    position: relative;
    pointer-events: none;
}

.box-testimonial > img{
    width: 8rem;
    position: absolute;
    top: -40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.box-testimonial > h4{
    padding-top: 40px;
    color: var(--Dark-Blue);
    margin-bottom: 15px;
    line-height: 25px;
}

.box-testimonial > p{
    color: var(--Dark-Grayish-Blue);
    line-height: 25px;
}

.btn-box{
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.testimonial-btn:hover{
    opacity: .8;
}

@media(max-width: 950px) {

    .box-testimonial{
        flex: none;
        width: 45%;
        min-height: 250px;
    }

}

@media(max-width: 800px) {

    .testimonial-c{
        padding-right: 2rem;
    }

    .box-testimonial{
        width: 60%;
        min-height: 250px;
    }

}

@media(max-width: 600px) {

    .testimonial-c::-webkit-scrollbar {
        display: none;
    }

    .testimonial-title > i{
        display: block;
        position: absolute;
        top: 100px;
        right: 30px;
        animation: slide 2s ease-in-out infinite;
    }

    .testimonial-c{
        width: 92vw;
        padding-top: 12rem;
        padding-left: 0;
        padding-right: 0;
        padding-right: 2rem;
        scroll-behavior: smooth;
    }

    .box-testimonial{
        width: 100%;
        min-height: 250px;
    }

}

/***************************************************************/

.pre-footer{
    background-color: var(--Bright-Red);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.pre-footer > h2{
    margin-left: 0;
    width: 400px;
    font-size: 3rem;
}

.preFooter-btn{
    background-color: #fff;
    color: var(--Bright-Red);
    margin-right: 0;
}

.preFooter-btn:hover{
    background-color: var(--Dark-Blue);
    color: #fff;
}

@media(max-width: 700px) {

    .pre-footer{
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .pre-footer > h2{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 25px;
    }

    .preFooter-btn{
        margin: 0 auto;
    }

    .pre-footer{
        background-image: url(/images/bg-simplify-section-mobile.svg);
        background-repeat: no-repeat;
        background-position: left;
    }

}

/***********************************************************/

footer{
    background-color: var(--Very-Dark-Blue);
}

.footer-c{
    padding-top: 8rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.box-footer_left{
    margin-left: 0;
}

.social-medias{
    display: flex;
    margin-top: 50px;
}

.social-medias > li{
    margin-right: 2rem;
}

.social-medias > li > i{
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    transition: .2s ease
}

.social-medias > li > i:hover{
    color: var(--Bright-Red);
}

.footer-c > .box-navigation{
    display: flex;
    justify-content: space-between;
}

.footer-c > .box-navigation > .navigation-1{
    margin-right: 100px;
}

.footer-c > .box-navigation > ul > li{
    color: var(--Vary-Light-Gray);
    font-weight: 300;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .2s ease;
}

.footer-c > .box-navigation > ul > li:hover{
    color: var(--Bright-Red);
}

.box-footer_right{
    margin-right: 0;
}

.footer-copy{
    margin: 0 auto;
    text-align: center;
    color: var(--Dark-Grayish-Blue);
    opacity: .8;
    font-size: 1.4rem;
    padding: 3rem;
}

/**********************************************************/

.box-footer_right > form{
    width: 250px;
    display: block;
    position: relative;
}

.box-footer_right > form > .form-control{
    width: 100%;
    position: relative;
}

.box-footer_right > form > .form-control > .email{
    width: 100%;
    padding: 1.5rem;
    border-radius: 50px;
    margin-right: 5px;
    border: none;
    outline: none;
}

.box-footer_right > form > .form-control > .email::placeholder{
    font-family: inherit;
}

small{
    visibility: hidden;
    position: absolute;
    bottom: -22px;
    left: 10px;
}

.error small{
    visibility: visible;
    color: var(--red);
}

.success small{
    visibility: visible;
    color: var(--green);
}

.box-footer_right > form > .form-control > .submit-btn{
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 1rem 2rem;
    box-shadow: none;
}

.box-footer_right > form > .form-control > .submit-btn:hover{
    background-color: #eb7f64;
}

/********************************************************************/

@media(max-width: 950px) {

    .footer-c{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .logo-footer{
        display: grid;
        justify-content: center;
        margin-bottom: 15px;
    }

    .box-footer_left{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .footer-c > .box-navigation{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-c > .box-navigation > .navigation-1{
        margin-right: 60px;
    }

    .social-medias{
        margin: 0 auto;
        text-align: center;
        display: flex;
        margin-top: 30px;
    }

    .social-medias > li{
        margin-right: 0;
        margin: 0 1.5rem;
    }

    .box-footer_right > form{
        width: 300px;
        display: grid;
        justify-content: center;
        position: relative;
        margin: 30px auto;
        margin-bottom: 50px;
    }
    
    .box-footer_right > form > .form-control > .email{
        max-width: 100%;
        width: 300px;
    }

    .box-footer_right > form > .form-control > .submit-btn{
        right: 10px;
    }

}