@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Spartan:wght@100;200;300;500;600;700;800;900&display=swap');

:root{
    --white: #ffffff;
    --dark-gray: #111111;
    --black: #000000;
    --gray: #979797;
    --red: #e71b1b;
    --green: #005133;
    --font: 'Spartan', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--font);
}

img{
    max-width: 100%;
}

/*********************************************************************/

header{
    background-image: url(/assets/images/booking/hero-bg-desktop.jpg);
    background-position:center top;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 1400px;
    height: 100vh;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
}

.box-left_text{
    max-width: 100%;
    width: 50rem;
    margin: 50px 0;
    color: var(--white);
}

.box-left_text > aside > a{
    margin-bottom: 50px;
}

.box-left_text > aside > h1{
    font-size: 6rem;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 20px;
}

.box-left_text > aside > p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
}

/*************************************************************/

.box-right_form{
    margin-left: 20px;
    background-color: var(--white);
    max-width: 100%;
    width: 42rem;
    height: 50rem;
    padding: 2rem 3rem;
    transform: translateY(200px);
    box-shadow: 0px 10px 20px #00000030;
}

.box-right_form > form > small{
    margin-top: 5px;
    display: none;
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 600;
}

.box-right_form > form > input{
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-bottom: 2.5px solid #d1d1d1;
    outline: none;
    font-family: var(--font);
    font-size: 1.6rem;
}

.box-right_form > form > fieldset{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    border: none;
    outline: none;
    font-family: var(--font);
    font-size: 1.6rem;
    position: relative;
}

.box-right_form > form > fieldset > small{
    display: none;
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    bottom: -10px;
}

.box-right_form > form > fieldset > input{
    max-width: 100%;
    width: 6rem;
    padding: 1.5rem 0;
    border: none;
    border-bottom: 2.5px solid #d1d1d1;
    outline: none;
    font-family: var(--font);
    font-size: 1.6rem;
    text-align: center;
}

#email{
    margin-top: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder{
    color: var(--gray);
    font-size: 1.4rem;
}

.inputError{
    display: block !important;
    border-color: var(--red) !important;
}

.inputSuccess{
    border-color: var(--green) !important;
}

.box-right_form > form > fieldset > h2{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 500;
}

.box-right_form > form > fieldset > .schedule{
    background-color: transparent;
    font-family: var(--font);
    color: var(--dark-gray);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.5rem 0;
    border: none;
    border-bottom: 2.5px solid #d1d1d1;
    outline: none;
    cursor: pointer;
}

.box-right_form > form > .quant-peoples{
    margin: 10px 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 2.5px solid #d1d1d1;
}

.box-right_form > form > .quant-peoples > img{
    width: 2rem;
    cursor: pointer;
}

.box-right_form > form > .quant-peoples > span{
    color: var(--dark-gray);
    font-size: 1.6rem;
    font-weight: 700;
}

.box-right_form > form > .button-reservation{
    margin-top: 20px;
    background-color: var(--dark-gray);
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.box-right_form > form > .button-reservation:hover{
    opacity: .9;
}

/*******************************************************************/

.backg-img{
    max-width: 100%;
    width: 1400px;
    height: 300px;
    background-image: url(/assets/images/patterns/pattern-curve-bottom-right.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 80%;
    position: relative;
    z-index: -1;
}

.backg-img > .img-position{
    position: absolute;
    right: 35%;
    top: 130px;
}

/******************************************************************/

footer{
    max-width: 100%;
    width: 1400px;
    background-color: var(--dark-gray);
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 12rem;
}

footer > ul{
    padding: 0 2rem;
}

footer > ul > li {
    padding: .5rem 0;
    opacity: .9;
}

@media(max-width: 950px) {

    header{
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .box-left_text{
        margin: 30px 0;
    }

    .box-left_text > aside > h1{
        font-size: 6rem;
        margin-top: 50px;
    }

    .box-left_text > aside > p{
        font-size: 2.5rem;        
        margin-top: 50px;
    }

    .box-right_form{
        height: 50rem;
        transform: translateY(30px);
    }

    .backg-img{
        background-size: 90%;
        padding-bottom: 50rem;
    }

}

@media(max-width: 900px) {

    footer{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        text-align: left;
    }

    footer > a{
        margin-bottom: 20px;
    }
    
    footer > ul{
        padding: 2rem 0;
    }

}

@media(max-width: 600px) {

    header{
        padding: 2rem;
    }

    .box-right_form{
        margin: 0 auto;
        width: 35rem;
        padding: 2rem;
    }

    .box-right_form > form > fieldset > input{
        width: 4rem;
    }

    input::placeholder{
        font-size: 1.3rem;
    }

    .box-left_text{
        max-width: 100%;
        width: 35rem;
        margin: 50px 0;
        color: var(--white);
    }

    .box-left_text > aside{
        padding: 0 2rem;
    }
    
    .box-left_text > aside > h1{
        font-size: 4rem;
    }
    
    .box-left_text > aside > p{
        font-size: 1.6rem;
    }

    .backg-img{
        height: 400px;
        background-image: none;
    }
    
    .backg-img > .img-position{
        display: none;
        position: absolute;
        right: 0;
        bottom: 20px;
    }

}

@media (max-width: 350px) {

    .box-right_form{
        margin: 0 auto;
        width: 32rem;
        padding: 2rem;
    }

    input::placeholder{
        font-size: 1.3rem;
    }

    .box-left_text{
        max-width: 100%;
        width: 32rem;
    }

}