@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');



:root{
    --Cyan: #2acfcf;
    --Dark-Violet: #3b3054;
    --Red: #f46262;
    --Gray: #bfbfbf;
    --Grayish-Violet: #9e9aa7;
    --Very-Dark-Blue: #35323e;
    --Very-Dark-Violet: #232127;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: var(--Very-Dark-Violet);
    overflow-x: hidden;
}

img{
    max-width: 100%;
    object-fit: cover;
}

main{
    margin: 0 auto;
    max-width: 100%;
    width: 1440px;
    padding: 0 15rem;
}

@media(max-width: 1100px) {

    main{
        margin: 0 auto;
        max-width: 100%;
        width: 1440px;
        padding: 0 5rem;
    }

}

@media(max-width: 700px) {

    main{
        margin: 0 auto;
        max-width: 100%;
        width: 1440px;
        padding: 0 2rem;
    }

}

/* ========================================================= */

.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5rem;
}

.logo > h1{
    color: var(--Very-Dark-Violet);
    font-size: 4rem;
}

.logo > img{
    width: 8rem;
    object-fit: cover;
}

.container{
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0;
}

.box-search{
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 3px;
    border: .5px solid #d1d1d1;
    box-shadow: 0.8rem 0.8rem var(--Dark-Violet);
}

.box-search > h1{
    font-weight: 400;
}

.form-control{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-input{
    width: 70%;
    padding: 1.5rem;
    font-family: inherit;
    font-size: 1.7rem;
    border: 1px solid #d1d1dd;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.search-input::placeholder{
    color: var(--Grayish-Violet);
}

.error .search-input::placeholder{
    color: var(--Red) !important;
}

.search-btn{
    background-color: var(--Dark-Violet);
    color: #fff;
    font-family: inherit;
    font-size: 1.7rem;
    padding: 1.5rem;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.search-btn:hover{
    opacity: .9;
}

.box-search > h1{
    margin-bottom: 20px;
}

.box-search > p{
    color: var(--Very-Dark-Blue);
    opacity: .9;
    margin-top: 35px;
    font-size: 1.5rem;
    font-weight: 400;
}

.show-error{
    color: var(--Red);
}

@media(max-width: 700px) {

    .logo > h1{
        font-size: 3rem;
    }
    
    .logo > img{
        width: 5rem;
    }

    .box-search > h1{
        font-size: 2.5rem;
    }

    .form-control{
        display: block;
    }

    .search-input{
        margin-bottom: 2rem;
        width: 100%;
        border-radius: 3px;
        font-size: 1.6rem;
    }

    .search-btn{
        border-radius: 3px;
        font-size: 1.6rem;
    }

}

/* ==================================================================== */

.box-resp{
    padding: 2rem 0;
}

.links, .links > aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    font-size: 1.8rem;
    margin: 2rem auto;
    background-color: #fff;
    border: 1px solid #d1d1dd;
    border-radius: 3px;
    padding: 2rem;
}

.links > p{
    max-width: 30rem;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.links > aside > a{
    color: var(--Cyan);
    margin-right: 20px;
}

.links > aside > a:hover{
    text-decoration: underline;
}

.btn-copy{
    background-color: var(--Cyan);
    color: #fff;
    font-size: 1.6rem;
    font-family: inherit;
    padding: .5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-copy:hover{
    opacity: .8;
}

.btn-copy--active{
    background-color: var(--Dark-Violet) !important;
}

@media(max-width: 800px) {

    .links, .links > aside{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .links > aside > a{
        margin: 30px auto;
        margin-right: 0;
    }

    .links > p{
        width: 100%;
    }

    .btn-copy{
        margin-top: 15px;
    }

}

/* ========================================================== */

.about-c{
    padding: 5rem 0;
    text-align: left;
}

.about-c > h2{
    margin-bottom: 15px;
}

.about-c > p{
    line-height: 28px;
    margin-bottom: 30px;
}

.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 3;
}

.features > aside{
    margin: 2rem;
    width: 25rem;
    text-align: center;
}

.features > aside > img{
    width: 7rem;
}

.features > aside > h3{
    margin-bottom: 5px;
}

.features > aside > p{
    font-size: 1.4rem;
}

@media(max-width: 1000px) {

    .features{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 2;
    }

    .features > aside{
        margin: 2rem;
        width: 80%;
    }

}

@media(max-width: 700px) {

    .features{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: 1;
    }

    .features > aside{
        margin: 2rem 0;
        width: 100%;
    }

}

/* ======================================== */

footer{
    margin: 0 auto;
    max-width: 100%;
    width: 1440px;
    background-color: var(--Very-Dark-Violet);
    color: #fff;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
}

footer > small > a{
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}