@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700;800&display=swap');

:root{
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Commissioner', sans-serif;
    font-size: 1.6rem;
}

img{
    display: block;
    max-width: 100%;
}

/*******************/
.modal{
    background-color: #000000a5;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
    z-index: 99999;
}

.modal-c{
    background-color: #ffffff;
    margin-top: 150px;
    max-width: 100%;
    width: 80rem;
    height: 100%;
    padding: 50px;
    border-radius: 8px;
    overflow-y: auto;
}

.modal-c_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#closeM{
    width: 2rem;
    cursor: pointer;
    margin-top: -60px;
    margin-right: -30px;
}

#closeM:hover{
    opacity: .8;
}

.modal-c_flex > h2{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 20px;
}

.modal-c > p{
    color: var(--Dark-gray);
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.box-select{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    border: 1.5px solid #8080805e;
    cursor: pointer;
    transition: .3s;
}

.box-select:hover{
    border: 1.5px solid var(--Moderate-cyan);
}

.box-select > article{
    margin-left: 30px;
}

.box-select > article h3{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s;
}

.box-select > article .null{
    cursor: default;
    transition: .0;
}

.box-select > article .null:hover{
    color: black;
}

.box-select > article p{
    color: var(--Dark-gray);
    line-height: 25px;
}

.box-select_flex > article aside{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.box-select_flex > article aside h2{
    font-size: 2.3rem;
    font-weight: 800;
}

.box-select_flex > article aside h2 > span{
    margin-left: 5px;
    color: var(--Dark-gray);
    font-size: 1.4rem;
    font-weight: 500;
}

.box-select_flex > article aside div{
    display: flex;
    align-items: baseline;
}

.box-select_flex > article aside div h4{
    color: var(--Moderate-cyan);
    font-size: 1.4rem;
    margin-left: 20px;
}

.box-select_4{
    opacity: .6;
}

.box-select_4:hover{
    border: 1.5px solid #8080805e;
}

.value{
    display: block;
    max-width: 100%;
    padding: 20px 0;
    margin-top: 20px;
}

.valueHr{
    border: none;
    border-top: 1.5px solid #8080805e;
    border-radius: 5px;
    margin: 30px 0;
}

.valueNull{
    display: none;
}

.value-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.value-flex > h4{
    color: var(--Dark-gray);
    font-size: 1.4rem;
    font-weight: 600;
}

#number{
    margin-right: 10px;
    max-width: 100%;
    width: 10rem;
    padding: 1.5rem;
    border: 1.5px solid var(--Moderate-cyan);
    border-radius: 50px;
    outline: none;
    font-size: 1.4rem;
    font-weight: 600;
}

::placeholder{
    color: var(--Dark-gray);
    font-size: 1.6rem;
}

.float-right{
    float: right;
}

.btn-continue{
    background-color: var(--Moderate-cyan);
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    max-width: 100%;
    width: 10rem;
    padding: 1.45rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.btn-continue:hover{
    background-color: var(--Dark-cyan);
}

/****************************/
.radio{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.radio-input,
.radio-input2,
.radio-input3,
.radio-input4{
    display: none;
}

.radio-radio,
.radio-radio2,
.radio-radio3,
.radio-radio4{
    width: 2.25rem;
    height: 2.25rem;
    border: 1.5px solid #d8e4e2;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.radio-radio::after,
.radio-radio2::after,
.radio-radio3::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: var(--Moderate-cyan);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.radio-radio:hover,
.radio-radio2:hover,
.radio-radio3:hover{
    background-color: #3cb4ac44;
}

.radio-input:checked + .radio-radio::after{
    transform: scale(1);
}

.radio-input2:checked + .radio-radio2::after{
    transform: scale(1);
}

.radio-input3:checked + .radio-radio3::after{
    transform: scale(1);
}

/***********************/
.modalSucces{
    background-color: #000000a5;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
    z-index: 999999;
}

.modal-c_succes{
    background-color: #ffffff;
    max-width: 100%;
    width: 45rem;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.modal-c_succes > img{
    margin: 10px auto;
    width: 8rem;
}

.modal-c_succes > h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
}

.modal-c_succes > p{
    font-size: 1.4rem;
    color: var(--Dark-gray);
    line-height: 25px;
    margin-bottom: 30px;
}

.modal-c_succes > button{
    margin-bottom: 10px;
    background-color: var(--Moderate-cyan);
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: .3s;
}

.modal-c_succes > button:hover{
    background-color: var(--Dark-cyan);
}