@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --Blue: hsl(246, 80%, 60%);
    --Soft-red: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0 auto;
    max-width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue);
    color: #ffffff;
    font-family: 'rubik', sans-serif;
    font-size: 1.6rem;
}

img{
    max-width: 100%;
}

/*****************************/
.container{
    max-width: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard{
    max-width: 100%;
    width: 20rem;
    background-color: var(--Dark-blue);
    border-radius: 12px;
}

.perfil{
    background-color: var(--Blue);
    padding: 20px;
    border-radius: 12px;
}

.img-backg{
    background-color: #ffffff;
    width: 7rem;
    height: 7rem;
    margin-bottom: 30px;
    border-radius: 50%;
}

.img-perfil{
    width: 7rem;
    padding: 2px;
}

.perfil-name > h3{
    font-size: 1.2rem;
    font-weight: 300;
    opacity: .7;
    margin-bottom: 10px;
}

.perfil-name > h2{
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 30px;
}

.dashboard > ul{
    padding: 20px;
}

.dashboard > ul li{
    color: var(--Desaturated-blue);
    padding: 7px 0;
    cursor: pointer;
    transition: .3s;
}

.dashboard > ul li:hover{
    color: #ffffff;
}

/********************************/
.grid-c{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 3;
    grid-gap: 20px;
    padding-left: 20px;
}

.box-date{
    max-width: 100%;
    width: 20rem;
    max-height: 190px;
    border-radius: 12px;
    position: relative;
}

.date{
    background-color: var(--Dark-blue);
    padding: 20px;
    border-radius: 12px;
    position: relative;
    top: -20px;
    z-index: 999;
    border: 2px solid var(--Dark-blue);
    transition: .3s;
    cursor: pointer;
}

.date:hover{
    background-color: hsl(237, 38%, 30%);
    border-color: hsl(237, 38%, 30%);
}

.date > aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.date > aside h4{
    font-weight: 400;
}

.date > article h3{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.date > article h5{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: .6;
}

.img-position{
    width: 5rem;
    height: 5rem;
    position: relative;
    right: -140px;
}

.box-date_1{
    background-color: var(--Soft-red);
}

.box-date_2{
    background-color: var(--Soft-blue);
}

.box-date_3{
    background-color: var(--Light-red);
}

.box-date_4{
    background-color: var(--Lime-green);
}

.box-date_5{
    background-color: var(--Violet);
}

.box-date_6{
    background-color: var(--Soft-orange);
}

/*****************************************/
.desactive{
    display: none;
}

/****************************************/
@media (max-width: 900px){

    .container{
        margin: 0 auto;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .dashboard{
        max-width: 100%;
        width: 40rem;
    }

    .perfil{
        display: flex;
        align-items: center;
        padding: 0 20px;
        padding-top: 20px;
    }

    .perfil-name{
        padding-left: 15px;
    }

    .perfil-name > h3{
        margin-bottom: 0px;
    }

    .dashboard > ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
    }
    
    .dashboard > ul li{
        padding: 0;
    }

    .grid-c{
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: 1;
        grid-gap: 20px;
        padding-left: 0;
        padding-top: 20px;
    }

    .box-date{
        max-width: 100%;
        width: 40rem;
        max-height: 150px;
        margin-bottom: 20px;
    }

    .img-position{
        width: 6rem;
        height: 6rem;
        position: relative;
        right: -320px;
    }

    .date{
        top: -27px;
    }

    .date > aside{
        margin-bottom: 15px;
    }

    .date > article{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

@media (max-width: 420px){

    .dashboard{
        max-width: 100%;
        width: 32rem;
    }

    .perfil-name > h2{
        font-size: 2rem;
        font-weight: 300;
        padding-bottom: 30px;
    }

    .box-date{
        max-width: 100%;
        width: 32rem;
    }

    .img-position{
        width: 6rem;
        height: 6rem;
        position: relative;
        right: -240px;
    }

}