@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    color: hsl(192, 100%, 9%);
    font-family: 'open sans', sans-serif;
    font-size: 1.6rem;
}

.container{
    margin: 0 auto;
    width: 1100px;
    max-width: 100%;
    padding: 0 30px;
}

img{
    max-width: 100%;
}

.center{
    width: 100%;
    text-align: center;
}

.flex{
    display: flex;
}

.flex-box{
    display: flex;
}

.flex > div{
    flex: 1;
}

nav{
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.logo-header{
    width: 20rem;
}

.header-btn1{
    background-color: white;
    color: hsl(322, 100%, 66%);
    font-size: 1.5rem;
    border: 1.5px solid hsl(322, 100%, 66%);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.15);
    border-radius: 50px;
    padding: 1rem 2.5rem;
    cursor: pointer;
}

.header-btn1:hover{
    background-color: hsl(322, 100%, 66%);
    color: white;
}

h1{
    font-family: 'poppins', sans-serif;
    font-size: 3rem;
}

h2{
    font-family: 'poppins', sans-serif;
}

.center > p{
    margin: 20px 0;
    line-height: 1.5;
    opacity: .9;
}

.btn-pink{
    margin-bottom: 70px;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.15);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    padding: 1.5rem 6rem;
    border-radius: 50px;
    cursor: pointer;
}

.btn-pink:hover{
    background-color: hsla(322, 100%, 66%, 0.829);
}

.image-header{
    display: block;
    margin: 0 auto;
    width: 80%;
}

.data-services{
    margin: 50px 0;
    text-align: center;
}

h2 span{
    font-size: 5rem;
    font-weight: 700
}

p span{
    opacity: .7;
}

.box-backg-blue img,
.box-backg-white img{
    width: 80%;
}

.box-backg-white{
    background-color: white;
}

.box-backg-blue{
    width: 100%;
    background-color: hsl(207, 100%, 98%);
}

.backg-image-top{
    background-image: url(images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    padding: 8rem 0;
    width: 100%;
}

.backg-image-bottom{
    background-image: url(images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    padding: 8rem 0;
    width: 100%;
}

.justify-content{
    padding: 0 20px;
    display: block;
    margin: auto 0;
}

.justify-content > h2{
    font-family: 'poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 15px;
}

.justify-content > p{
    font-size: 1.5rem;
    font-weight: 600;
    opacity: .6;
}

.margim-top{
    margin-top: 20px;
}

footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.backg-image-footer{
    background-image: url(images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(3px);
    padding: 8rem 0;
    width: 100%;
}

.logo-white{
    margin-bottom: 20px;
}

.social-media{
    width: 10rem;
}

.contacts{
    padding-right: 50px;
}

.contacts ul li{
    margin-bottom: 20px;
}

.contacts > p{
    margin-bottom: 15px;
}

.social-media{
    margin-top: 60px;
    display: flex;
}

.social-media li{
    padding-right: 30px;
}

.icon{
    color: white;
}

.icon:hover{
    color: cyan;
}

.input-area > h3{
    margin: 15px 0;
}

.input-area > form{
    margin-top: 20px;
}

.input-email{
    width: 25rem;
    padding: 1.2rem 2rem;
    border-radius: 3px;
    border: none;
    outline: none;
}

.input-btn{
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-size: 1.2rem;
    padding: 1.2rem 3rem;
    margin-left: 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.input-btn:hover{
    background-color: rgb(231, 121, 191);
}


@media (min-width: 1100px)
{

    html{
        font-size: 90%;
    }

    .container{
        margin: 0 auto;
        width: 1400px;
        padding: 0 20px;
    }

    nav{
        padding: 0 200px;
    }

    .backg-image-top{
        width: 1400px;
        padding: 5rem 0;
    }

    .backg-image-bottom{
        width: 1400px;
        padding: 5rem 0;
    }

    .box-backg-blue{
        padding: rem 0;
        width: 1400px;
    }

    .backg-image-footer{
        padding: 5.6rem 0;
        width: 1400px;
    }
}

@media (max-width: 900px){

    .box-backg-blue img,
    .box-backg-white img{
        width: 100%;
    }
    .block-footer{
        display: grid;
        margin: 0 auto;
    }

    .input-area{
        margin-bottom: 100px;
        order: 1;
    }

    .contacts{
        padding-right: 0;
        text-align: center;
        order: 2;
    }

    .social-media{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .social-media li{
        padding-right: 0;
        margin: 0 10px;
    }
    
}

@media (max-width: 600px){

    .flex-box{
        display: block;
    }

    .box-backg-blue,
    .box-backg-white{
        text-align: center;
    }

    .box-backg-blue img,
    .box-backg-white img{
        width: 80%;
    }

    .box-backg-blue img{
        margin-top: 20px;
    }

    .box-backg-white img{
        margin-bottom: 20px;
    }
}

@media (max-width: 500px){

    .logo-header{
        width: 15rem;
    }

    .data-services{
        display: grid;
        margin: 50px 0;
        text-align: center;
    }

    .bottom-space{
        margin-bottom: 50px;
    }

    .input-btn{
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width: 375px){

    .logo-header{
        width: 100px;
    }
}

